
<div class="well">
<div id="episodes">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>

  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @episodes_by_date[date] %>
      <ul>
        <% @episodes_by_date[date].each do |episode| %>
          <li><%= link_to episode.start_date_time.strftime("%l:%M%P"), episode %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>

<p><%= link_to "New Episode", new_episode_path %></p>
</div>
